[Unit]
Description=Remove chef node at termination
before=shutdown.target halt.target final.target

[Service]
type=oneshot
ExecStop=/usr/sbin/removechefnode
ExecStart=/bin/true
RemainAfterExit=yes
